body{
    display: flex;
    justify-content: center;
}

.mytodolist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.redcross{
    height: 20px;
}

.crossedout{
    color: rgb(21, 221, 21);
    text-decoration: line-through;
}